<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Issues</title>
</head>
<body>
<h1>Issues</h1>
<div th:each="item : ${issue}">
    <h5>
        <a th:href="@{'/issue/details/' + ${item.issueId}}" th:text="${item.title}"></a>
    </h5>
    <p th:text="${item.writer}"></p>
    <p th:text="${item.issueId}"></p>

</div>
</body>
</html>
